p {
    font-size:32px;
    font-weight: bold;
    display:block;
    margin-bottom: 0;
}

input {
    display:block;
    border:none;
    background-color: rgb(235, 235, 235);
    width:300px;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left:5px;
    margin-top:10px;
    margin-bottom: 10px;
}

button {
    display:inline-block;
    border:none;
    cursor:pointer;
}

.request-now{
    background-color: black;
    color:white;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left:15px;
    padding-right:15px;
}

.schedule {
    background-color: rgb(221, 221, 221);
    color:black;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left:15px;
    padding-right:15px;
    margin-left:10px;
}