form {
    flex: 1;
    min-width: 200px;
    display:flex;
    align-items: center;
}

.search-bar::placeholder {
    font-family: Roboto, Arial;
    font-size:16px;
}

.header {
    height:55px;
    display:flex;
    flex-direction: row;
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color: white;
    border-bottom-style: solid;
    border-color:rgba(221, 221, 221, 0.311);
    border-bottom-width: 1px;
    justify-content: space-between;
    /* z-index is used because we set the images to a position relative so
        the images would appear in front when we scroll since they are not static
        anymore.
    */
    z-index:100;
}


.left-section {
    display:flex;
    align-items: center;
}


.middle-section {
    flex: 1;
    max-width: 500px;
    margin-left:70px;
    margin-right:35px;
    display:flex;
    align-items: center;
}

.hamburger-menu {
    height:24px;
    margin-left:24px;
    margin-right: 24px;
    cursor:pointer;
}

.youtube-logo {
    height:20px;
    cursor:pointer;
}

.search-bar {
    display:block;
    flex:1;
    height:40px;
    padding-left: 12px;
    font-size:16px;
    font-family: Robot, Arial;
    border-width:1px;
    border-style:solid;
    border-color:rgb(196, 196, 196);
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
    outline: none;
    width:0;
}

.search-button {
    height:43.9px;
    width:66px;
    background-color: #f8f8f8;
    margin-left: -1px;
    margin-right:10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px;
    position: relative;
    border: 1px solid rgb(196,196,196);
    cursor:pointer;
}

.search-button div {
    position: absolute;
    background-color: grey;
    color:white;
    padding: 4px 8px;
    border-radius:2px;
    font-size:12px;
    font-family: Roboto, Arial;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
}

.search-button:hover div {
    opacity: 1;
}

.search-icon {
    height:25px;
    
    margin-top:5px;
}


.voice-search-button {
    height:40px;
    width:40px;
    border-radius:100%;
    border:none;
    background-color: #f8f8f8;
    position:relative;
    cursor: pointer;
}

.voice-search-button:hover .info-display {
    opacity:1;
}
.info-display {
    position: absolute;
    background-color: grey;
    color:white;
    padding: 4px 8px;
    width:120px;
    border-radius:2px;
    font-size:12px;
    font-family: Roboto, Arial;
    bottom: -20px;
    left:-35px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
}

.voice-search-icon {
    height:24px;
    margin-top:4px;
}


.right-section { 
    width:180px;
    margin-right:20px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}


.upload-icon, .notifications-icon,.apps-icon{
    height:25px;
    cursor:pointer;
    border-radius: 100%;
    padding:5px;
}
.upload-icon:hover, .apps-icon:hover, .notifications-icon:hover{
    background-color: #dadada;
}


.notifications-container {
    position:relative;

}

.notifications-count {
    position:absolute;
    top:2px;
    right:2px;
    background-color: rgb(189, 0, 0);
    color:white;
    font-family: Roboto, Arial;
    border-radius: 100%;
    font-size:11px;
    padding: 2px 5px;
}


.avatar-icon {
    height:35px;
    width:35px;
    border-radius:100%;
    margin-right:10px;
    object-fit: cover;
    cursor: pointer;   
    position: relative;  
}


.hire-me {
    position: absolute;
    background-color: grey;
    color:white;
    padding: 4px 8px;
    border-radius:2px;
    font-size:12px;
    font-family: Roboto, Arial;
    bottom: -12px;
    right:10px;
    opacity: 0;
    transition: opacity 0.15s;

}

.avatar-container:hover .hire-me{
    opacity: 1;
}