.thumbnail {
    width:100%;
}
.videos {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:20px;
    row-gap:40px;

}

@media (max-width: 800px) {
   .videos{
     grid-template-columns: 1fr 1fr;
   }
}

@media(min-width: 751px) and (max-width:999px) {
    .videos {
        grid-template-columns: 1fr 1fr 1fr;
    }   
}

@media (min-width:1000px) {
    .videos {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
   
}




.video-info-grid {
    display:grid;
    grid-template-columns: 50px 1fr;
}





.video-title {
    margin:0;
    font-size:14px;
    font-weight:600;
    line-height:20px;
    margin-bottom: 10px;
}

.thumbnail-row {
   margin-bottom: 8px; 
   position: relative;
}

.video-author, .video-stats {
    font-size:12px;
    color:#606060;
}

.video-author {
    margin-bottom: 4px;
}



.video-time {
    background-color: black;
    color:white;
    position:absolute;
    bottom:10px;
    right:5px;
    font-family: Roboto, Arial;
    font-size:12px;
    font-weight:500;
    padding:4px;
    border-radius: 2px;

}


.video-preview {
    cursor:pointer;
}


.profile-picture {
    width:36px;
    border-radius:50px;
}

.channel-picture {
    position: relative;
}

.channel-picture:hover .channel-extra-info {
    opacity:1;
}

.channel-extra-info {
    position: absolute;
    width:200px;
    background-color: white;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.194);
    border-radius:5px;
    border:none;
    display:flex;
    opacity: 0;
    transition:opacity 0.15s;
}

.channel-extra-info p {
    font-family: Roboto, Arial;
}
.his-name {
    font-weight: bold;
    margin-left:10px;
    margin-top:10px;
    font-size:13px;
}

.subs {
    font-size:11px;
    margin-top:10px;
    margin-left:10px;
}

.profile-picture-info {
    border-radius:100%;
    margin:2px 2px;
}