.thumbnail {
    width:100%;
}

.video-info-grid {
    display:grid;
    grid-template-columns: 50px 1fr;
}



.profile-picture {
    width:40px;
    border-radius:50px;
}

.video-title {
    margin:0;
    font-size:14px;
    font-weight:600;
    line-height:20px;
    margin-bottom: 14px;
}

.thumbnail-row {
   margin-bottom: 12px; 
}

.video-author, .video-stats {
    font-size:12px;
    color:#606060;
}

.video-author {
    margin-bottom: 4px;
}


.videos {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:20px;
    row-gap:40px;
}