
/* ToDO: change the way I placed the logo and the search bar in the middle without using margin. */
#main-logo {
    width:300px;
    display:block;
    margin-left:40%;
    margin-top: 50%;
}

#main-search-bar {
    display:block;
    border:none;
    border-radius: 15px;
    box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.053);
    padding-top:10px;
    padding-bottom: 10px;
    padding-left:15px;
    margin-top:25px;
    margin-left:30%;
    margin-bottom: 50%;
    outline: 0;
    width: 600px;
}